.jumbotron {
  text-align: center;
  background-color: rgb(9, 9, 100);
  color: white;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

.grid {
  display: grid;
}

#current-weather {
  padding: 15px;
  grid-area: current;
  background-color: #aceee7;
}
